<!-- Main -->
<main>
  <div class="accesorios">
    <h2>Sonido</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil, earum.
      Eveniet quia qui dolorum voluptate ex labore sint quis alias optio laborum
      molestias harum ipsam distinctio nostrum quasi, consequuntur unde!
    </p>
  </div>
  <div class="sonido animate__animated animate__bounceInLeft">
    <div class="productos">
      <div class="producto">
        <img
          src="images/Accesorios/a2.jpg"
          width="150"
          alt="a2"
          class="img-1"
        />
        <h5>Lorem</h5>
        <h6>Lorem, ipsum.</h6>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Necessitatibus cum delectus deleniti eum veritatis repellat eaque
          ullam quasi sequi. Maiores eos voluptate aut dicta voluptates tempora
          id inventore quae rerum?
        </p>
      </div>

      <div class="producto">
        <img src="images/Accesorios/a4.jpg" width="100" alt="a4" />
        <h5>Lorem</h5>
        <h6>Lorem, ipsum.</h6>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Necessitatibus cum delectus deleniti eum veritatis repellat eaque
          ullam quasi sequi. Maiores eos voluptate aut dicta voluptates tempora
          id inventore quae rerum?
        </p>
      </div>

      <div class="producto">
        <img src="images/Accesorios/a5.jpg" width="100" alt="a5" />
        <h5>Lorem</h5>
        <h6>Lorem, ipsum.</h6>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Necessitatibus cum delectus deleniti eum veritatis repellat eaque
          ullam quasi sequi. Maiores eos voluptate aut dicta voluptates tempora
          id inventore quae rerum?
        </p>
      </div>

      <div class="producto">
        <img src="images/Accesorios/a6.jpg" width="100" alt="a6" />
        <h5>Lorem</h5>
        <h6>Lorem, ipsum.</h6>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Necessitatibus cum delectus deleniti eum veritatis repellat eaque
          ullam quasi sequi. Maiores eos voluptate aut dicta voluptates tempora
          id inventore quae rerum?
        </p>
      </div>

      <div class="producto">
        <img src="images/Accesorios/a7.jpg" width="100" alt="a7" />
        <h5>Lorem</h5>
        <h6>Lorem, ipsum.</h6>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Necessitatibus cum delectus deleniti eum veritatis repellat eaque
          ullam quasi sequi. Maiores eos voluptate aut dicta voluptates tempora
          id inventore quae rerum?
        </p>
      </div>
    </div>
  </div>
</main>