<!-- Carousel -->
<section>
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/Guitarras/g1.png" class="d-block w-100" alt="g1" />
      </div>

      <div class="carousel-item">
        <img src="images/Guitarras/g2.png" class="d-block w-100" alt="g2" />
      </div>

      <div class="carousel-item">
        <img src="images/Guitarras/g3.png" class="d-block w-100" alt="g3" />
      </div>
      <div class="carousel-item">
        <img src="images/Guitarras/g4.png" class="d-block w-100" alt="g4" />
      </div>
      <div class="carousel-item">
        <img src="images/Guitarras/g5.png" class="d-block w-100" alt="g5" />
      </div>
      <div class="carousel-item">
        <img src="images/Guitarras/g6.png" class="d-block w-100" alt="g6" />
      </div>
      <div class="carousel-item">
        <img src="images/Guitarras/g7.png" class="d-block w-100" alt="g7" />
      </div>
      <div class="carousel-item">
        <img src="images/Guitarras/g8.png" class="d-block w-100" alt="g8" />
      </div>
      <div class="carousel-item">
        <img src="images/Guitarras/g9.png" class="d-block w-100" alt="g9" />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<!-- Main -->
<main class="">
  <div class="columnas">
    <div class="izquierda">
      <h2>Todas las variedades</h2>
      <p class="texto">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe fuga
        blanditiis eos voluptatibus odio sunt excepturi, aspernatur esse officia
        reprehenderit, placeat sed voluptates nulla porro. Voluptatum expedita
        eum perspiciatis blanditiis.
      </p>
    </div>
    <div class="derecha">
      <h2>ESP - LTD</h2>
      <div class="caja1 animate__animated animate__slideInUp">
        <span class="estilos">Estilos</span>
        <span class="variedad">
          <p class="variedad-p">Stratocaster</p>
          <p class="variedad-p">Les Paul -Telecaster</p>
          <p class="variedad-p">Flying V - Explorer</p>
        </span>
      </div>
    </div>
  </div>
</main>